<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obesity and Its Health and Economic Implications</title>




    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="static/css/style2.css">
    <!--Link to Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Kodchasan' rel='stylesheet'>
    <!-- D3 Import -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <div id="top" style="margin-bottom: 50px;">
        <a href='/map' id="mapButton">Interactive Map</a>
        <h1 id="pageTitle">Obesity and Its Health and Economic Implications </h1>
    </div>
    <div class="text">
        <h1>About The Data</h1>
        <p>This Data sets we used show the percent of obesity in each state. The goal of this exercise is to compare obesity in each state to Cancer numbers and Covid 19 deaths. </p>
        <h1>Decscription of ths Data used.</h1>

    </p>
    </div>
    <div class="container">
        <div class="card">
            <h1>US Obesity by County</h1>    
            
            <p>This chart shows US obesity by county. Probably the most striking thing about this map is that it looks like the South is in trouble. Obesity-related chronic disease is costly to treat, affects worker productivity, and generally reduces quality of life                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </p>
        </div> 
        <div class="card">
            <h1>Cancer Rate </h1>    
            
            <p>The CDC was also able to capture the rates of cancer deaths in the US per 100,000 people. "Cancer counts and rates are essential to measuring progress and targeting action toward this major cause of death among Americans.</p>



        </div>
    </div>



    <!--Link to Javascript File-->
    <!-- <script type="text/javascript" src="static/js/logic2.js"></script> -->
</body>
</html>